
/* START CORE ELEMENTS */
* {
  font-family : "Inconsolata", monospace;
  margin      : 0;
  padding     : 0;
}
body {
  background-color: #FFF;
}
/* END CORE ELEMENTS */

/* START MAIN ELEMENTS */
img {
}
input {
  width: 75px;
}
button {
  font-weight: bold;
  padding: 2px;
}
/* END MAIN ELEMENTS */

/* START TABLES */
.divTable {
  border: 1px #CCC solid;
  width: 100%;
  display: table;
}
.divRow {
  display: table-row;
}
.divCell {
  /* border: 1px #CCC solid; */
  display: table-cell;
  vertical-align: top;
  padding: 2px;
}
/* END TABLES */

/* START TEXT */
.info {
    font-size: 75%;
}
.textRight {
  text-align: right;
  font-weight: bold;
}
/* END TEXT */

/* START SECTIONS */
#secSettings {
  width: 20%;
}
#secGame {
}
/* END SECTIONS */

/* START DATAMAPS */
#divDatamapGame {
  position: relative;
  width: 600px;
  height: 400px;
}
/* END DATAMAPS */
