/* START CORE ELEMENTS */
* {
  font-family : "Inconsolata", monospace;
  /* margin      : 0;
  padding     : 0; */
}
body {
  background-color: #fff;
}
/* END CORE ELEMENTS */

/* START MAIN ELEMENTS */
img {
}
/* END MAIN ELEMENTS */

/* START TABLES */
.divTableWrapper {
  border: 1px #CCC solid;
}
.divTable {
  display: table;
}
.divRow {
  display: table-row;
}
.divCell {
  display       : table-cell;
}
/* END TABLES */
